@font-face {
  font-family: Museo;
  src: url(fonts/museo.otf);
}

@font-face {
  font-family: Poplar;
  src: url(fonts/poplar.otf);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #36334d;
}

body {
  height: 100vh;
}

.headerBanner {
  width: 100%;
  position: fixed;
}

header {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  height: 130px;
}

.startButton {
  height: 130px;
  width: 50%;
  background-color: #98E466;
  font-family: Poplar;
  font-size: 64px;
  color: #FFF8F5;
  letter-spacing: 5px;
  border: none;
}

main {
  padding-top: 100px;
  height: 80%;
  font-family: Museo;
  color: #FFF8F5;
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-align: center;
  
  -webkit-align-items: center;
  
  -ms-flex-align: center;
  
  align-items: center;
  
  -webkit-box-pack: justify;
  
  -webkit-justify-content: space-between;
  
  -ms-flex-pack: justify;
  
  justify-content: space-between;
}

.instructions, .score {
  width: 200px;
}
.instructions span {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

h3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footerBanner {
  width: 100%;
}

footer {
  width: 960px;
  
  margin: 0 auto;
}

footer img {
  float: right;
}

#world {
  width: 500px;
  height: 500px;
  margin: 15px;
  text-align: center;
  color: #e25d60;
  font-size: 200px;
  line-height: 180px;
  font-family: "Poplar";
  letter-spacing: 10px;
}
